body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.top-nav {
  font-size: 30px;
}
.fa-circle-user {
  padding-left: 400px;

}

.exerciseImage {
  width: 500px;
  height: auto;
}

.counter {
  text-align: center;
  border: 5px outset;
  width: 250px;
}

button { 
  font-size: 30px;
}