body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.phone {
  width: 375px;
  height: 700px;
  border: 2px solid black;
}

.top-nav {
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 5x;
  padding-top: 10px;
  margin: 0;
}

.top-nav > h4 {
  font-size: 20px;
}

.exerciseImage {
  width: 375px;
  height: 150px;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px outset;
  border-radius: 20px;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px outset;
  border-radius: 50px;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.timer h2 {
  margin: 0;
}
.counter h2 {
  margin: 0;
}

button { 
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 25px;
  border-radius: 15px;
}

button:hover {
  background-color: grey;
}
.exercise-count > .adjustments {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 10px;
}

.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}

.stats-block {
  background-color: rgb(223, 223, 223);
  border: 2px solid grey;
  width: 100px;
  height: 100px;
  border-radius: 20px;
  margin-bottom: -10px;
}

.stats-block > h3{
  margin-bottom: -10px;
}
/*Home page elements*/
.exercise, .dailyStats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.dailyStats > .stats-block {
    margin: 15px;
    margin-bottom: 5px;
}
.options {
  background-color: grey;
  width: 150px;
  height: 140px;
  margin-bottom: 30px;
  border-radius: 20px;
}

.options > h4 {
  margin: 3px;
}

.options > img {
  width: 150px;
  height: 120px;
  border-radius: 20px;
}

h1 {
  margin: 2px;
}
/*Hovers*/

.options:hover, .fa-arrow-left:hover, .adjustments:hover {
  cursor: pointer;
}